[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"
seaborn = "*"
dash = "*"
nbformat = "*"
plotly-express = "*"
dash-bootstrap-templates = "*"
dash-bootstrap-components = "*"

[dev-packages]

[requires]
python_version = "3.11"
